PORT=5002

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_SECRET_KEY=

INTERNAL_SERVICE_KEY = 123456789abcdefgh!@#$%^&*()

RABBITMQ_URL=amqp://admin:admin123@localhost:5672
PAYMENT_QUEUE=payment_event

RAZORPAY_ID=
RAZORPAY_KEY_SECRET=

RESTAURANT_SERVICE=http://localhost:5001

STRIPE_SECRET_KEY=
FRONTEND_URL=http://localhost:5173